html, body 
{
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
    background-color: white;
}
::-webkit-scrollbar 
{
    height: 12px;
    width: 12px;
    background: #000;
}
::-webkit-scrollbar-corner 
{
    background: #000;

}
#center
{
    position:fixed;
    width: 100%;
}
.title{
    position: fixed;
    margin-top: 230px;
    margin-left: 500px;
    height: 70px;
    width: 200px;
    text-align: center;
    color: green;
    font-size: 20px;
}
.login
{
    background-color: white;
    position: fixed;
    width: 340px;
    height: 280px;
    top: 60%;
    left: 50%;
    margin-top: -70px;
    margin-left: -170px;
    border-radius: 20px;
    border: 1px solid #29a329;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);	
}
.click
{
    position: fixed;
    top: 23%;
    left: 42%;
}

form 
{
    margin: 0 auto;
    margin-top: 20px;
}
label 
{
    color: green;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}
.menubar{
    background-color: #6fbf00;
    width: 100%;
    height: 50px;
}
li{
    float: left;
}
li a{
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}
li a:hover{
    background-color: green;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#error 
{
    color: red;
    display: inline-block;
    padding-top: 10px;
    font-size: 14px;
}
p a 
{
    font-size: 11px;
    color: #aaa;
    float: right;
    margin-top: -13px;
    margin-right: 20px;
     -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

input 
{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}
input[type=text], input[type=password] 
{
    color: green;
    background-color: white;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
	border: 1px solid #29a329;
    border-radius: 10px;
	}
input[type=submit] 
{
    float: right;
    margin-left: 3px;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: green;
    background-color: white; 
    border-radius: 10px;
    border: 1px solid #29a329;
}
input[type=submit]:hover 
{
    color: #eafaea;     
    background-color: #004d00; 
}
//////////////////////////////////////////Added left side navbar for profhome
.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -330px;
  margin-left: 140px;
}
//////////////////////////////////////////Added left side navbar for profhome
//////////////////////////////////////////Added notification box for center screen
.centerNotification {
    margin: 10px auto;
    max-width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    border-spacing: 10px;
}
//////////////////////////////////////////Added notification box for center screen